#!/usr/bin/env bash

# shellcheck disable=SC1091
source .venv/bin/activate

pythonBin=$(which python3)

echo " - python: $pythonBin" 1>&2

# Check if the activation was successful
# shellcheck disable=SC2320
exit_status=$?
if [ $exit_status -eq 0 ]; then
    echo "Activation successful - python: $pythonBin"
else
    echo "Activation failed"
    echo "Do you want to create a virtual environment? (y/n)"
    read -r answer
    if [ "$answer" != "${answer#[Yy]}" ]; then
        echo "Creating virtual environment..."
        python3 -m venv .venv
        source .venv/bin/activate
        echo "Virtual environment created"
    else
        echo "Exiting..."
        exit 1
    fi
fi

# use git to see if we are in on the newest commit
git fetch
git status -uno | grep "Your branch is up to date with 'origin/master'."
exit_status=$?
if [ $exit_status -eq 0 ]; then
    echo "You are on the newest commit"
else
    echo "You are not on the newest commit"
    echo "Do you want to pull the newest commit? (y/n)"
    read -r answer
    if [ "$answer" != "${answer#[Yy]}" ]; then
        echo "Pulling newest commit..."
        git pull
        echo "Pulled newest commit"
    else
        echo "Exiting..."
        exit 1
    fi
fi